@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Sono:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* font-family: 'Lato', sans-serif; */
        font-family: 'Sono', monospace;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
   background-color: #0A192F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #013f3c7f;
    border-radius: 10px;
}

i{
    cursor: pointer;
}

i:hover {
    color:#fff;
}

.a {
    animation: a 1s infinite;
}

@keyframes a {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.5;
        
    }
}

.g {
    animation: g 1s infinite;
}

@keyframes g {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
        
    }
}

.k {
    animation: k 1s infinite;
}

@keyframes k {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        
    }
}

input, textarea {
    height: 40px;
    border: 1px solid gray;
    width: 100%;
    padding-left: 20px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(56,56,56);
}

textarea {
    height: 100px;
    padding-top: 10px;
}
